<!DOCTYPE html>
<html>
<head>

</head>

<body>

<h1>Advanced Travel Fund Application</h1>
<p>Before filling out our application, please review all of the Travel Fund Policies and Instructions found on our <a href="http://gc.uchicago.edu/travel-fund">website</a>.
</p>

<form method="POST" action="/advanced">
    First name:<br>
    <input type="text" name="firstname"><br><br>
    Last name:<br>
    <input type="text" name="lastname"><br><br>
    UChicago Email:<br>
    <input type="text" name="email"><br><br>
    Travel Start Date:<br>
    <input type="date" name="start-date"><br><br>
    Travel End Date:<br>
    <input type="date" name="end-date"><br><br>
    Division:<br>
    <select name="division">
        <option value="">  </option>
        <option value="bsd"> BSD </option>
        <option value="psd"> PSD </option>
        <option value="ime"> IME </option>
        <option value="law"> Law </option>
        <option value="hum"> Hum </option>
        <option value="ssa"> SSA </option>
        <option value="ssd"> SSD </option>
        <option value="both"> Booth </option>
        <option value="graham"> Graham </option>
        <option value="pritzker"> Pritzker </option>
        <option value="harris"> Harris </option>
        <option value="divinity"> Divinity </option>
    </select><br><br>
    Name of Event:<br>
    <input type="text" name="event-name"><br><br>
    Presentation Type:<br>
    <select name="presentation-type">
        <option value="">  </option>
        <option value="talk">Talk</option>
        <option value="poster">Poster</option>
        <option value="unknown">Unknown</option>
        <option value="not-presenting">Not Presenting</option>
    </select><br><br>
    Faculty Contact Name:<br>
    <input type="text" name="faculty-name"><br><br>
    Faculty Email Address:<br>
    <input type="text" name="faculty-email"><br><br>

    <p>
    <strong>
        Answer the prompts below to the best of your ability. 
        The Grad Council Travel Award is funded through life fees provided by the graduate student body. 
        Please explain the relevance of your event, how it ties into what you do, and how you will give back to the community if you are funded. 
        Avoid using special formatting (bulletpoints, etc) or unusual characters.
    </strong>
    </p>

    <p>
        Question 1: in 200 words or less, describe the importance of this event and why it is relevant to your academic/professional interests. 
        Additionally, please explain the nature of your participation in the event and describe how competitive it is to present at this particular event.
    </p>
    <textarea rows="8" cols="100" name="importance"></textarea>

    <p>
        Question 2: Within 400 words or less, please explain to your fellow graduate students what your project is and the significance of your research. 
        How does your project contribute to your field of study? 
        This information helps us understand how your event ties into the advancement of your degree. 
        Please use language that would be appropriate for an educated lay-person.
    </p>
    <textarea rows="8" cols="100" name="significance"></textarea>
 
    <p>
        Question 3: Graduate Council's goal is to build a strong community of scholars from across the University, from which this fund benefits. 
        In 200 words or less, describe how in the months following your attendance you will contribute to the greater UChicago community. 
        This can either tie directly into your event or can instead be general service to your fellow graduate students. 
        (e.g. perhaps you will report back to your school, write a post for a website, create educational material, review for the travel fund committee, host a departmental event)?
    </p>
    <textarea rows="8" cols="100" name="contribution"></textarea>

    <p>
    <strong>
        When listing your expenses and alternate funding sources, please only use US Dollars.
    </strong>
    </p>
    <p>
        List of Proposed Expenditures (see Policies and Instructions for what is covered by Travel Fund). 
        This is not a binding list and is only to estimate how funds will be used.
    </p>
    <textarea rows="8" cols="100" name="expenditures"></textarea>

    <p>
        List of Alternate Funding Sources (including those you have applied for and/or what your advisor is providing)
    </p>
    <textarea rows="8" cols="100" name="alternative-funding"></textarea>

    <p>
        Upon submission of this form, an email will be automatically sent to your faculty contact containing the link to the recommendation form. 
        Please contact them as soon as possible to make sure they receive it and avoid confusion/delays.
    </p>

    <p>
        By submitting this form you certify that all of the above information is correct to the best of your knowledge, and that you have read and understood the Graduate Council Travel Fund Policies and Instructions found on our website.
    </p>

    <input type="submit" value="Submit">
</form>

</body>
<script>

</script>

</html>