<!DOCTYPE html>
<html>
<head>

</head>

<body>

<h1>Basic Travel Fund Application</h1>
<p>Before filling out our application, please review all of the Travel Fund Policies and Instructions found on our <a href="http://gc.uchicago.edu/travel-fund">website</a>.
</p>

<form>
    First name:<br>
    <input type="text" name="firstname"><br><br>
    Last name:<br>
    <input type="text" name="lastname"><br><br>
    Uchicago Email:<br>
    <input type="text" name="email"><br><br>
    Travel Start Date:<br>
    <input type="text" name="start-month">
    <input type="text" name="start-day">
    <input type="text" name="start-year"><br><br>
    Travel End Date:<br>
    <input type="text" name="end-month">
    <input type="text" name="end-day">
    <input type="text" name="end-year"><br><br>
    Division:<br>
    <select name="division">
        <option value="bsd">BSD</option>
        <option value="psd">PSD</option>
        <option value="ime">IME</option>
        <option value="...">...</option>
    </select><br><br>
    Name of Event:<br>
    <input type="text" name="event-name">
</form>

</body>
<script>

</script>

</html>